.me-auto{
    font-size:20px;
    font-weight: bold;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 3px;
    padding: 15px;
    
}
.link
{
   display: flex;
   text-align: center;
    justify-content:center;
    text-decoration: none;
    width:max-content;
    color:black;
    padding-left: 20px;
    margin-left:15% ;
    font-size: larger;
}
.link:hover{
    color: black;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.Brand{
    text-decoration: none;
}





#navcolor
{
    background-image: linear-gradient(to right, #b3ffae, #d4f9b3, #eaf4bf, #f5f1d2, #f5f1e8);
}