.button{
    margin-left: 45%;
    margin-top: 10px;
    
}
.container{
    width:60%;
    box-shadow:cadetblue 0px 0px 3px 3px;
    padding-bottom:20px;
    border-radius: 20px;
}
.page{
    height: 100vh;
    margin-bottom:20%;
    margin-top: 3%;
}
.Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    padding-top: 5%;
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.content{
    padding: 20px;
   
}
Form{
    font-weight: bolder;
    font-size: large;
    flex-direction: column;
}


.page1{
    height: 50vh;
  margin-left: 20%;
    margin-top: 8%;
    margin-right: 20%;
}

.buttondel{
    margin-left: 40%;
    margin-top: 10px;
    
}

.pageupd
{   
    height: 100vh;
    margin-left: 20%;
    margin-top: 2%;
    margin-right: 20%;
    margin-bottom: .5%;
    
}