.button{
    margin-left: 10px;
    margin-top: 10px;
    
}
.container{
    width: 60%;
    box-shadow:#C3FF99 0px 0px 3px 3px;
    padding-bottom:20px;
    border-radius: 20px;
}
.page{
    height: 100vh;
    margin-bottom: 10%;
    margin-top: 3%;
}
.Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    padding-top: 5%;
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-family: "roboto";
}
.content{
    padding: 20px;
   
}
Form{
    font-weight: bolder;
    font-size: large;
    flex-direction: column;
}
h5{
   color: #BCE29E;
   font-weight: bolder;
   font-size:20px;
    text-align: right;
}